
@{
    ViewBag.Title = "歷史活動查詢";
}

<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#selector').change(function () {
                alert($('#selector').val());
            });
        })
    </script>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        th, td {
            padding: 10px 20px;
            border: 1px solid #000;
        }
    </style>
</head>

<h2>歷史活動查詢</h2>


<p>選擇活動：</p>
<select class="form-select" name="events" id="events"></select>
<button id="lottery">查看</button>

<div id="tableBody">
    <h2 id="eventTitle"></h2>
    <hr id="interval"/>
    <table id="table"></table>
</div>

<script>
    $(document).ready(function () {
        updateSelect()

        $("#lottery").click(function () {
            var beChosenEvent = Number($("#events").val());
            var beChosenEventNum = $("#events :selected").text();
            if (beChosenEvent != 0) {
                $.ajax({
                    url: "../Home/GetHistoricalListOfWinners?eventId=" + beChosenEvent,
                    type: "post",
                    success: function (data) {
                        $(".alert").remove();
                        updateSelect();
                        generateTable(JSON.parse(data), beChosenEventNum);
                    }
                });

            } else {
                alert("沒有活動");
            }


        });

        function updateSelect() {
            $("select[name=events]").empty();
            $.ajax({
                url: "../Home/GetEvenOption?status=1",
                type: "post",
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result.length != 0) {
                        for (var i = 0; i < result.length; i++) {
                            var option = "<option value=\"" + result[i]["EventId"] + "\"";
                            option += ">" + result[i]["EventName"] + "</option>";  //動態新增資料
                            $("select[name=events]").append(option);
                        }
                    }
                }
            });
        }

        function generateTable(date, beChosenEventNum) {
            $("#table").remove();
            $("#interval").remove();
            $("#eventTitle").remove();
            let table = document.createElement('table');
            table.id = 'table';
            let thead = document.createElement('thead');
            let tbody = document.createElement('tbody');
            table.appendChild(thead);
            table.appendChild(tbody);

            let hr = document.createElement('hr');
            hr.id = 'interval';
            let h2 = document.createElement('h2');
            h2.id = 'eventTitle'; h2.innerHTML = beChosenEventNum;
            // Adding the entire table to the body tag
            document.getElementById('tableBody').appendChild(hr);
            document.getElementById('tableBody').appendChild(h2);
            document.getElementById('tableBody').appendChild(table);

            let row_1 = document.createElement('tr');
            let heading_1 = document.createElement('th');
            heading_1.innerHTML = "獎項";
            let heading_2 = document.createElement('th');
            heading_2.innerHTML = "得獎人";

            row_1.appendChild(heading_1);
            row_1.appendChild(heading_2);
            thead.appendChild(row_1);


            for (var i = 0; i < date.length; i++) {
                let row = document.createElement('tr');
                let row_data_1 = document.createElement('td');
                row_data_1.innerHTML = date[i]["Awards"];
                let row_data_2 = document.createElement('td');
                row_data_2.innerHTML = date[i]["EmployeeCode"];
                row.appendChild(row_data_1);
                row.appendChild(row_data_2);
                tbody.appendChild(row);
            }

        }
    });



</script>