
@{
    ViewBag.Title = "歷史活動查詢";
}

<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#selector').change(function () {
                alert($('#selector').val());
            });
        })
    </script>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        th, td {
            padding: 10px 20px;
            border: 1px solid #000;
        }
    </style>
</head>

<h2>歷史活動查詢</h2>

<div id="awardsOptionArea">
    <p>選擇活動：</p>
    <select class="form-select" name="events" id="events"></select>
    <button id="selectAwards">選擇獎項</button>
</div>


<div id="tableBody">
    <h2 id="eventTitle"></h2>
    <hr id="interval" />
    <table id="table"></table>
</div>

<script>
    $(document).ready(function () {
        updateSelect()

        // click 選擇獎項
        $("#selectAwards").click(function () {
            var beChosenEvent = Number($("#events").val());
            if (beChosenEvent != 0) {
                $.ajax({
                    url: "../Home/GetHistoricalEventAwards?eventId=" + beChosenEvent,
                    type: "post",
                    success: function (data) {
                        $(".alert").remove();
                        generateSelect(JSON.parse(data));
                    }
                });
            } else {
                alert("沒有活動");
            }
        });

        // generate select options
        function generateSelect(data) {
            $("select[name=awardsOption]").remove();
            $("#lottery").remove();
            var select = document.createElement('select');
            select.name = "awardsOption"; select.id = "awardsOption";
            select.class = "form-select";
            document.getElementById('awardsOptionArea').appendChild(select);
            if (data.length != 0) {
                for (var i = 0; i < data.length; i++) {
                    var option = "<option value=\"" + data[i]["Awards"] + "\"";
                    option += ">獎項" + data[i]["Awards"] + "</option>";  //動態新增資料
                    $("select[name=awardsOption]").append(option);
                }
            }
            // create lottery button 
            var button = document.createElement('button');
            button.id = "lottery"; button.innerHTML = "抽獎";
            button.style = "margin:0px 0px 0px 10px;width: 50px; height: 50px;";
            document.getElementById('awardsOptionArea').appendChild(button);

            $("#lottery").click(function () {
                var beChosenEvent = Number($("#events").val());
                var beChosenAward = Number($("#awardsOption").val());
                var beChosenEventName = $("#events :selected").text();
                var beChosenAwardName = $("#awardsOption :selected").text();
                if (beChosenEvent != 0) {
                    $.ajax({
                        url: "../Home/GetHistoricalListOfWinners?eventId=" + beChosenEvent + "&award=" + beChosenAward,
                        type: "post",
                        success: function (data) {
                            $(".alert").remove();
                            $("select[name=awardsOption]").remove();
                            $("#lottery").remove();
                            generateTable(JSON.parse(data), beChosenEventName, beChosenAwardName)
                            $('#loading').hide();
                        },
                        beforeSend: function () {
                            $('#loading').show();
                        }
                    });

                } else {
                    alert("沒有活動");
                }
            });
        }

        // change other event
        $("#events").change(function () {
            $("select[name=awardsOption]").remove();
            $("#lottery").remove();
        });

       
        // update select list
        function updateSelect() {
            $("select[name=events]").empty();
            $.ajax({
                url: "../Home/GetEvenOption?status=1",
                type: "post",
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result.length != 0) {
                        for (var i = 0; i < result.length; i++) {
                            var option = "<option value=\"" + result[i]["EventId"] + "\"";
                            option += ">" + result[i]["EventName"] + "</option>";  //動態新增資料
                            $("select[name=events]").append(option);
                        }
                    }
                }
            });
        }

        // generate result table
        function generateTable(date, beChosenEventName, beChosenAwardName) {
            $("#table").remove();
            $("#interval").remove();
            $("#beChosenEventTitle").remove();
            var table = document.createElement('table');
            table.id = 'table';
            var thead = document.createElement('thead');
            var tbody = document.createElement('tbody');
            table.appendChild(thead);
            table.appendChild(tbody);

            var hr = document.createElement('hr');
            hr.id = 'interval';
            var h2 = document.createElement('h2');
            h2.innerHTML = beChosenEventName + "  " + beChosenAwardName;
            h2.id = 'beChosenEventTitle';
            // Adding the entire table to the body tag
            document.getElementById('tableBody').appendChild(hr);
            document.getElementById('tableBody').appendChild(h2);
            document.getElementById('tableBody').appendChild(table);

            var row_1 = document.createElement('tr');
            var heading_1 = document.createElement('th');
            heading_1.innerHTML = "獎項";
            var heading_2 = document.createElement('th');
            heading_2.innerHTML = "得獎人";

            row_1.appendChild(heading_1);
            row_1.appendChild(heading_2);
            thead.appendChild(row_1);


            for (var i = 0; i < date.length; i++) {
                var row = document.createElement('tr');
                var row_data_1 = document.createElement('td');
                row_data_1.innerHTML = date[i]["Awards"];
                var row_data_2 = document.createElement('td');
                row_data_2.innerHTML = date[i]["EmployeeCode"];
                row.appendChild(row_data_1);
                row.appendChild(row_data_2);
                tbody.appendChild(row);
            }

        }
    });



</script>